/** @format */

img {
  display: block;
  max-width: 40%;
}

body {
  background: #f4eeff;
  font-family: "Gilda Display", Didot, serif;
}

.container {
  max-width: 25%;
  max-height: 50%;
  background-color: #dcd6f7;
  margin: 150px auto;
  padding: 30px;
  border: 2px solid #a6b1e1;
  border-radius: 20px;
}

.box {
  display: block;
  justify-content: left;
  margin: 0;
}

#citySearch {
  width: 50%;
  border: none;
  border-radius: 20px;
  opacity: 0.9;

  background: #f4eeff;
  padding: 5px;
  margin: 20px;
  max-height: fit-content;
  max-width: 40%;
}

#searchButton {
  display: inline-block;
  background-color: #a6b1e1;
  width: 20%;
  border: none;
  border-radius: 20px;
  opacity: 0.9;
  padding: 5px;
  margin: 20px;
  margin-left: -15px;
  max-height: fit-content;
  max-width: 40%;
  transition: all 150ms ease-in;
}

#searchButton:hover {
  background-color: #424874;
  color: #fff;
  cursor: pointer;
}

h1 {
  font-size: 48px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  margin-top: 5px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 32px;
}

.temp {
  font-size: 42px;
  position: relative;
  text-align: right;
}

.celsius {
  position: relative;
  bottom: 10px;
  font-size: 20px;
  padding: -50px;
  margin: 0;
}

.paragraph {
  font-family: monospace;
  font-size: 12px;
}

.time {
  color: #424874;
}

.humid {
  color: #424874;
}

.wind {
  color: #424874;
}

.days {
  display: block;
  text-align: center;
  font-family: monospace;
  justify-content: center;
  margin-top: 50px;
  margin-left: -45px;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

footer {
  text-align: center;
  margin: 20px auto;
  margin-top: 50px;
}
